# CLI, administrator tools
typer-slim~=0.12        # CLI generator
# pydantic~=2.5      # serialization/deserialization of configs

# seaborn
matplotlib

# misc
tqdm~=4.66
typing-extensions

# data import/export, application-specific
gemmi~=0.6.3       # pdb/mmcif parsing
rdkit~=2024.9.5    # we likely support other versions, 
                   #  but typing is not consistent across rdkit versions, and mypy complain
biopython>=1.83    # parsing, data access
antipickle==0.2.0  # save/load heterogeneous python structures
tmtools>=0.0.3     # Python bindings for the TM-align algorithm
modelcif>=1.0      # mmcif writing, confirmed to work currently latest 1.0


# computing, dl
numpy~=1.21
pandas[parquet,gcp,aws]~=2.1 
pandera
numba>=0.59
# polars              
einops~=0.8
jaxtyping>=0.2.25   # versions <0.2.25 do not easily support runtime typechecking
beartype>=0.18      # compatible typechecker to use with jaxtyping
torch>=2.3.1,<2.7   # 2.2 is broken, 2.3.1 is confirmed to work correctly
